body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

canvas{
    background: #32CD32 ;
    border-bottom: 1px solid black ;
}
html{
    background-color: black;
}

img{
    background-size: cover
}

h1 {
    color: white;
}